body, input {
  font-family: Handlee;
  font-size: 1.4rem;
}

/* Estando en carpeta view: sass --watch styles/scss:styles/css */
body {
  background-image: url("../../assets/img/wp01.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  backdrop-filter: blur(2px);
}


*::selection {
  background-color: #d2b6ff;
}

@font-face {
  /* font-family: 'Work Sans'; */
  /* font-family: 'IndieFlower'; */
  font-family: 'Handlee';
  /* src: url("../../assets/fonts/IndieFlower.ttf"); */
  src: url("../../assets/fonts/Handlee.ttf");
  /* src: url("../../assets/fonts/WorkSans.ttf"); */
}

.spinner {
  border: 4px solid rgba(0, 0, 0, .1);
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border-left-color: salmon;
  animation: spin 1s linear infinite;
  display: inline-block;
}

/* Sobre escrito */
.btn-primary {
  background-color: #956fd3;
  color: #fff;
  border: none;
  
  &:hover {
    background-color: #ae8ae9;
    color: #fff;
  }
}

.btn-secondary {
  background-color: #ff953e;
  color: #fff;
  border: none;
  
  &:hover {
    background-color: #ffc75f;
    color: #fff;
  }

}


